<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/random.js}"></script>
</head>
<tbody>

    <div>
        <a class="waves-effect waves-light btn" th:href="@{/random}">Random</a>
        <a class="waves-effect waves-light btn" th:href="@{/search}">Search</a>
        <a class="waves-effect waves-light btn" th:href="@{/saved}">Saved <span id="savedItems" class="badge" ></span></a>
        <a class="waves-effect waves-light btn" th:href="@{/logout}">Logout</a>
    </div>


    <div th:if="${randomBier != null}">
        <table class="striped">
            <tr>
                <th>Name</th>
                <th>Tagline</th>
                <th>ABV</th>
                <th></th>
            </tr>
            <tr th:each="b: ${randomBier}">
                <td th:text="${b.name}" />
                <td th:text="${b.tagline}" />
                <td th:text="${b.abv}" />
                <td>
                    <form th:action="@{/save}" th:object="${randomBier}" method="post" id="save">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{name}" />
                        <input type="hidden" th:field="*{tagline}" />
                        <input type="hidden" th:field="*{abv}" />
                        <p><input type="submit" class="waves-effect waves-light btn" th:value="Save" /></p>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    </tbody>

</html>